.list {
  position: relative;
  top: -16px;
  margin: 0;
  padding: 12px;
  width: 580px;
  height: 400px;
  background: var(--color-bg);
  border: solid 2px var(--color-border);
  border-radius: 8px;
  overflow-y: scroll;
}

.list li {
  list-style-type: none;
}

.box {
  position: relative;
  font-size: 16px;
  text-decoration: none;
  padding: 12px 20px;
  border-radius: 8px;
}

.box:hover {
  background: var(--color-list);
}

.box:hover .heading3 {
  color: var(--color-link);
}
.link {
  text-decoration: none;
  color: var(--color-text);
}

.desc {
  margin: 0;
  font-size: 14px;
}

.heading3 {
  color: var(--color-heading);
}

.highlight {
  color: var(--color-link);
}

.list ul {
  display: flex;
  flex-direction: column;
  row-gap: 48px;
  padding: 0;
  margin-top: 40px;
}

@media screen and (max-width: 739.98px) {
  .list {
    width: 100%;
  }
  .list ul {
    margin-top: 20px;
  }

  .title {
    width: 180px;
  }
  .container {
    width: 100%;
    height: fit-content;
  }
}
