:root[data-theme='light'] {
  --shiki-color-text: #555555;
  --shiki-color-background: #ffffff;
  --shiki-token-constant: rgb(207, 85, 154);
  --shiki-token-string: #2e2c40;
  --shiki-token-comment: #555555;
  --shiki-token-keyword: #52c2d6;
  --shiki-token-parameter: #555555;
  --shiki-token-function: #ff826c;
  --shiki-token-string-expression: #4b5563;
  --shiki-token-punctuation: #555555;
  --shiki-token-link: #555555;
}

:root[data-theme='dark'] {
  --shiki-color-text: #ffffff;
  --shiki-color-background: #202020;
  --shiki-token-constant: #afffff;
  --shiki-token-string: #ffffff;
  --shiki-token-comment: #ffffff;
  --shiki-token-keyword: #77b7d7;
  --shiki-token-parameter: #ffffff;
  --shiki-token-function: #afffff;
  --shiki-token-string-expression: #7c99dc;
  --shiki-token-punctuation: #ffffff;
  --shiki-token-link: #ffffff;
}
.outer_container {
  position: fixed;
  display: inline-block;
  top: 64px;
  margin: 30px auto auto 880px;
  height: auto;
}

.outer_container::before {
  content: '';
  position: absolute;
  left: 0;
  top: 16px;
  bottom: 16px;
  height: calc(100% -32px);
  width: 1px;
  background-color: var(--color-border);
}

.title {
  position: relative;
  display: flex;
  align-items: center;
  top: 16px;
  margin: 0;
  padding-left: 16px;
  font-weight: 500;
  font-size: 14px;
  height: 32px;
  color: var(--color-heading);
  white-space: nowrap;
}

.toc {
  height: fit-content;
  width: 86.35px;
  white-space: nowrap;
}

.toc-list {
  padding-left: 0px;
  list-style-type: none;
}

.toc-link {
  display: flex;
  align-items: center;
  font-size: 14px;
  height: 32px;
  padding-left: 16px;
  color: var(--color-text);
  text-decoration: none;
  font-weight: 300;
}

.node-name--H3 {
  margin-left: 10px;
}

.toc-link:hover:not(.is-active-link) {
  color: var(--color-sub);
  font-weight: 350;
}

.is-active-link {
  color: var(--color-link);
  font-weight: 350;
}

pre {
  z-index: 2;
  position: relative;
  box-sizing: border-box;
  width: 100%;
  padding: 20px;
  margin: 40px 0;
  border: solid 1px var(--color-border);
  background: var(--shiki-color-background);
  overflow-x: auto;
}

code {
  font-family: Menlo, Monaco, Consolas, 'Droid Sans Mono', 'Liberation Mono', 'Courier New', monospace;
  font-size: 12.8px;
}

[data-rehype-pretty-code-figure] pre code span {
  font-size: 12.8px;
}

figure {
  margin: 0;
  z-index: 5;
  position: relative;
}

[data-rehype-pretty-code-figure] figcaption {
  z-index: 3;
  position: absolute;
  right: 4px;
  top: -32px;
  font-size: 12px;
  padding: 2px 8px;
}

[data-rehype-pretty-code-fragment] div {
  position: relative;
  top: 10px;
  height: 0;
  margin-right: 2px;
  font-size: 14px;
  color: gray;
  text-align: right;
}

[data-rehype-pretty-code-fragment] .line {
  padding: 0 20px;
  border-left: solid 4px transparent;
}

p code {
  padding: 0 5px 2px 5px;
  color: var(--color-h1);
  background: var(--color-code);
  border-radius: 2px;
}

div[data-rehype-pretty-code-fragment] pre code {
  display: grid;
  grid-auto-rows: minmax(auto, 1fr);
}

div[data-rehype-pretty-code-fragment] .line.highlighted {
  background: rgb(123 137 192 / 6.5%);
  border-color: lightblue;
}

code[data-line-numbers] {
  counter-reset: lineNumber;
}

code[data-line-numbers] .line::before {
  display: inline-block;
  width: 1rem;
  margin-right: 0.75rem;
  color: #718096;
  text-align: right;
  content: counter(lineNumber);
  counter-increment: lineNumber;
}

@media screen and (max-width: 1414px) {
  pre {
    width: 100%;
  }

  .outer_container {
    right: 132px;
  }

  code {
    font-size: 12.4px;
  }
}

@media (max-width: 1124px) {
  .outer_container {
    display: none;
  }
}
