:root[data-theme='light'] {
  --shiki-color-text: #555555;
  --shiki-color-background: #f7ffff;
  --shiki-token-constant: rgb(207, 85, 154);
  --shiki-token-string: #2e2c40;
  --shiki-token-comment: #555555;
  --shiki-token-keyword: #52c2d6;
  --shiki-token-parameter: #555555;
  --shiki-token-function: #ff826c;
  --shiki-token-string-expression: #4b5563;
  --shiki-token-punctuation: #555555;
  --shiki-token-link: #555555;
}

:root[data-theme='dark'] {
  --shiki-color-text: #ffffff;
  --shiki-color-background: #202020;
  --shiki-token-constant: #afffff;
  --shiki-token-string: #ffffff;
  --shiki-token-comment: #ffffff;
  --shiki-token-keyword: #77b7d7;
  --shiki-token-parameter: #ffffff;
  --shiki-token-function: #afffff;
  --shiki-token-string-expression: #7c99dc;
  --shiki-token-punctuation: #ffffff;
  --shiki-token-link: #ffffff;
}

.title {
  z-index: 3;
  position: fixed;
  margin: 30px auto auto 880px;
  font-weight: 550;
  font-size: 14px;
  color: var(--color-heading);
}

.toc {
  position: fixed;
  margin: 40px auto auto 860px;
}

.toc-list {
  padding-left: 20px;
  list-style-type: none;
}

.toc-link {
  font-size: 14px;
  color: var(--color-text);
  text-decoration: none;
  font-weight: 300;
}

.toc-link:hover:not(.is-active-link) {
  color: var(--color-sub);
  font-weight: 350;
}

.is-active-link {
  color: var(--color-link);
  font-weight: 350;
}

pre {
  z-index: 2;
  position: relative;
  box-sizing: border-box;
  width: 100%;
  padding: 20px;
  margin: 40px 0;
  overflow: auto;
  border-radius: 4px 0 4px 4px;
  box-shadow: 0 0 2px -0.5px rgb(0 0 0 / 40%);
  background: var(--shiki-color-background);
  overflow-x: auto;
}

code {
  font-family: 'Consolas', 'Menlo', 'Ubuntu Mono', 'DejaVu Sans Mono', 'Courier New', 'Courier', monospace;
  color: var(--shiki-color-text);
}

[data-rehype-pretty-code-figure] pre code span {
  font-size: 12.8px;
}

figure {
  margin: 0;
  z-index: -1;
  position: relative;
}

[data-rehype-pretty-code-figure] figcaption {
  z-index: 3;
  position: absolute;
  top: -24px;
  right: 0;
  border-radius: 4px 4px 0 0;
  text-align: right;
  font-size: 12px;
  background: var(--shiki-color-background);
  padding: 2px 8px;
}

[data-rehype-pretty-code-fragment] div {
  position: relative;
  top: 10px;
  height: 0;
  margin-right: 2px;
  font-size: 14px;
  color: gray;
  text-align: right;
}

[data-rehype-pretty-code-fragment] .line {
  padding: 0 20px;
  line-height: 1.5;
  border-left: solid 4px transparent;
}

p code {
  padding: 0 5px 2px 5px;
  color: var(--color-h1);
  background: var(--color-code);
  border-radius: 2px;
}

div[data-rehype-pretty-code-fragment] pre code {
  display: grid;
  grid-auto-rows: minmax(auto, 1fr);
}

div[data-rehype-pretty-code-fragment] .line.highlighted {
  background: rgb(123 137 192 / 6.5%);
  border-color: lightblue;
}

code[data-line-numbers] {
  counter-reset: lineNumber;
}

code[data-line-numbers] .line::before {
  display: inline-block;
  width: 1rem;
  margin-right: 0.75rem;
  color: #718096;
  text-align: right;
  content: counter(lineNumber);
  counter-increment: lineNumber;
}

@media screen and (max-width: 799.98px) {
  pre {
    width: '100%';
  }

  .disp {
    display: none;
  }

  code {
    font-size: 12.4px;
  }
}
